.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html

application/config/database.php

public/uploads/*
public/availablePlugins.json
public/availableThemes.json
public/default2.zip
public/Example.zip
.idea/*

composer.lock