<footer>
    <div class="container">
        <div class="row">
            <span class="col-md text-center">© 2017 {{ site_name }} - Tous droits réservés</span>
            <span class="col-md text-center">Propulsé par <a href="#" target="_blank">LimpidCMS</a></span>
        </div>
    </div>
</footer>