{% extends 'layouts/default.twig' %}

{% block content %}
    <section id="home">
        <div class="container">
            <h1>LimpidCMS</h1>
            <h2>Le système de gestion de contenu adapté aux serveurs de jeu</h2>
            <img src="{{ img('home.png') }}" class="img-fluid" alt="Captures d'écran de LimpidCMS">
            <a href="#" class="btn btn-primary btn-lg">Télécharger (Bientôt)</a>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <i class="fa fa-cogs fa-4x"></i>
                    <h5>Modulable et personnalisable</h5>
                    <p>LimpidCMS est un CMS fonctionnant avec des plugins et des thèmes, c'est ce qui lui permet de
                        s'adapter à tout type de serveur, et ce peu importe le jeu !</p>
                </div>
                <div class="col-md">
                    <i class="fa fa-free-code-camp fa-4x"></i>
                    <h5>Construit sur un framework performant</h5>
                    <p>LimpidCMS est basé sur un framework nommé CodeIgniter qui privilégie vitesse et légèreté, ce qui
                        permet un site rapide et fiable !</p>
                </div>
                <div class="col-md">
                    <i class="fa fa-magic fa-4x"></i>
                    <h5>Simple et fonctionnel</h5>
                    <p>LimpidCMS a pour but d'aider les gérants de serveurs de jeu en proposant un site simple et efficace
                        grâce à un panel très complet et simple d'utilisation !</p>
                </div>
            </div>
        </div>
    </section>
    <section id="discord">
        <div class="container">
            <h3>N'hésitez pas à nous rejoindre sur <a href="https://discord.gg/GvUDCs2" target="_blank">Discord</a> pour
                discuter et suivre l'avancement du projet !</h3>
            <p>Avancement :</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                     aria-valuemax="100">80%
                </div>
            </div>
        </div>
    </section>
{% endblock %}
